{% extends "layout.html" %}
{% block content %}
<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
               <!-- <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-cogs fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">5</div>
                                    <div>Applications</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                 <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-check-square-o fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">531</div>
                                    <div>Test Cases</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-thumbs-o-up fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">92%</div>
                                    <div>Pass Rate</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
               
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">17</div>
                                    <div>Performance Tests</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>-->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Overall Test Case Results                            
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="test-results-chart"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                   
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Test Case Totals by Application                            
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="test-case-totals"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                   
            </div>
            <!-- /.row -->
        </div>
{% endblock %}
{% block scripts %}
<script>
       
    //test case results line chart 
    Morris.Line({
      element: 'test-results-chart',
      data: [
        { y: '2018-1-1', a: 40, b: 20 },
        { y: '2018-1-8', a: 60,  b: 25 },
        { y: '2018-1-15', a: 84,  b: 37 },
        { y: '2018-1-22', a: 95,  b: 49 },
        { y: '2018-1-29', a: 105,  b: 48 },
        { y: '2018-2-5', a: 126,  b: 65 },
        { y: '2018-2-13', a: 150, b: 60 }
      ],
      xkey: 'y',
      ykeys: ['a', 'b'],
      labels: ['Passed', 'Failed'],
      lineColors: ["#7CB57C", "#D9534F"]
    });

    //total test cases by application bar chart
     Morris.Bar({
      element: 'test-case-totals',
      data: [
        { y: 'GBL', a: 20, b: 4 },
        { y: 'API Management', a: 30,  b: 0 },
        { y: 'BCBSWNY.com', a: 3,  b: 0 },
        { y: 'BSNENY.com', a: 3,  b: 1 }       
      ],
      xkey: 'y',
      ykeys: ['a', 'b'],
      labels: ['Pass', 'Fail'],
      stacked: true,
      barColors: ["#7CB57C", "#D9534F"],
      xLabelMargin: 10
    });

</script>

{% endblock %}

